@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");

@mixin position($top, $right) {
  position: absolute;
  top: $top;
  right: $right;
}

@mixin font($fontSize, $lineHeight, $font-weight: 500) {
  font-family: "Lato";
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $font-weight;
  display: flex;
  align-items: center;
  color: #212121;
}

.container {
  position: relative;
  width: 60%;
  height: 438px;
}

.shadowContainer {
  left: 0%;
  bottom: 0%;
  @include position(2.28%, 0px);
  background: rgba(0, 0, 0, 0.0001);
  box-shadow: 0px 5px 20px rgba(14, 29, 39, 0.05);
  border-radius: 2px;
}

.card {
  left: 0;
  position: relative;
  @include position(0, 175px);
  bottom: 20px;
  min-width: 99%;
  background: #ffffff;
  border: 1px solid #dfe6eb;
  box-shadow: 0px 1px 0px #dfe6eb;
}

.cover {
  position: relative;
  left: 3%;
  width: 94%;
  height: 60%;
  border-radius: 2px;
}

.title {
  position: absolute;
  left: 5%;
  bottom: 20%;
  max-width: 92%;
  @include font(16px, 22px);
}

.address {
  left: 15px;
  bottom: 15%;

  position: absolute;
  @include font(14px, 20px);
  mix-blend-mode: normal;
  opacity: 0.5;
}

.rateText {
  position: absolute;
  bottom: 0%;
  left: 9%;
  @include font(14px, 20px, 900);
}

.rateIcon {
  left: 2%;
  @include position(376px, 260px);
}

.departed {
  position: absolute;
  bottom: 0%;
  left: 55%;
  min-width: 100%;
  @include font(12px, 20px);
}

.reviews {
  position: absolute;
  bottom: 0%;
  left: 18%;
  @include font(14px, 20px);
}

.leftArrow {
  position: relative;
  right: 50px;
  top: 0;
}

.rightArrow {
  position: relative;
  right: -30px;
  top: 0px;
  transform: rotate(-180deg);
}
