@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");

.containerCenter {
  background: #ffffff;
  justify-content: center;
  padding-top: 0%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

@media only screen and (max-width: 662px) {
  .container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.containerOffer {
  position: relative;
  left: 20%;
  margin-top: 12%;
  width: 60%;
}

.title {
  position: relative;
  left: 35%;
  margin-bottom: 5%;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
}
